body{
    margin: 0;
    box-sizing: border-box;
}

.navbar a {
    color: rgb(228, 16, 199);
}
.nav-item a{
    color: rgb(125, 16, 228);
}
footer{
    position:absolute;
    bottom: 0;
}